<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dynamic form designer</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
              class="mr-3" mat-icon-button aria-label="preview">
        <mat-icon>home</mat-icon>
      </button>
      <button [routerLink]="['/preview']" routerLinkActive="active" class="mr-3" mat-icon-button aria-label="preview">
        <mat-icon>visibility</mat-icon>
      </button>
      <button (click)="questionFormService.save()" class="mr-3" type="submit" mat-icon-button aria-label="submit">
        Submit
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mb-5">

  <router-outlet></router-outlet>

</div>



