<div class="d-flex">

  <div class="question-form mr-3 text-left"
       [class.active-form]="questionFormService.questionFormIds[this.questionFormService.questionFormIds.length - 1] === questionForm.id">
    <form [formGroup]="dynamicForm" novalidate>
        <div class="card-body">
          <div class="form-group">
            <div class="row justify-content-between">
              <div class="col-6" style="padding-left: 0;padding-right: 0">
                <div class="list-group list-group-flush">
                  <div class="list-group-item">
                    <div class="form-row">
                      <div class="form-group col-12" [ngSwitch]="questionTypeName">
                        <mat-form-field class="full-width">
                          <input matInput formControlName="question" placeholder="Question" value="">
                        </mat-form-field>

                        <ng-template ngSwitchCase="short_answer">
                          <p>Short Answer</p>
                        </ng-template>

                        <ng-template ngSwitchCase="paragraph">
                          <p>Detailed response</p>
                        </ng-template>

                        <ng-template ngSwitchCase="multi">
                          <mat-radio-group formArrayName="answerOptions" disabled>
                            <mat-radio-button class="d-block" *ngFor="let m of dynamicForm.controls['answerOptions']['controls'];let i = index" [value]="m">
                              <mat-form-field>
                                <input matInput formControlName="{{i}}" #myInput (click)="myInput.select()">
                              </mat-form-field>
                            </mat-radio-button>
                          </mat-radio-group>
                          <a class="add_option" style="color: #4285f4" (click)="addOption()">Add option</a>
                        </ng-template>

                        <ng-template ngSwitchCase="checkbox">
                          <div formArrayName="answerOptions">
                            <mat-checkbox class="d-block" *ngFor="let c of dynamicForm.controls['answerOptions']['controls'];let i = index" [value]="c" disabled >
                              <mat-form-field class="example-full-width ml-2">
                                <input matInput formControlName="{{i}}" #myInput (click)="myInput.select()" />
                              </mat-form-field>
                            </mat-checkbox>
                            <a class="add_option" style="color: #4285f4" (click)="addOption()">Add option</a>
                          </div>
                        </ng-template>

                        <ng-template ngSwitchCase="dropdown">
                          <mat-form-field appearance="fill">
                            <mat-select formControlName="dropdown" [(ngModel)]="dropdownValue">
                              <mat-option *ngFor="let option of questionOptions" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </ng-template>

                        <ng-template ngSwitchCase="file">
                          <button mat-button color="warn" (click)="onClick()">
                            <mat-icon>file_upload</mat-icon>
                            {{text}}
                          </button>
                          <span *ngIf="dynamicForm.get('file').value">
                            {{dynamicForm.get('file').value}}
                          </span>
                          <br/>
                          <ul>
                            <li *ngFor="let file of files" [@fadeInOut]="file.state">
                              <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                              <span id="file-label">{{file.data.name}}
                                <a title="Retry" (click)="retryFile(file)" *ngIf="file.canRetry">
                                <mat-icon>refresh</mat-icon></a>
                                  <a title="Cancel" (click)="cancelFile(file)" *ngIf="file.canCancel">
                                    <mat-icon>cancel</mat-icon></a>
                              </span>
                            </li>
                          </ul>
                          <input type="file" id="fileUpload" name="fileUpload" multiple="multiple"
                                 accept="{{accept}}" style="display:none;"/>
                        </ng-template>

                        <ng-template ngSwitchCase="date">
                          <label>
                            <input matInput [(ngModel)]="initDate" [matDatepicker]="picker" formControlName="date">
                          </label>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </ng-template>


                        <ng-template ngSwitchDefault="short_answer">
                          <p>Short Answer</p>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5 question-type-selector">
                <mat-form-field class="full-width">
                  <mat-select class="border-shadow" formControlName="type"
                              (selectionChange)="onChangeType($event)"
                              [(ngModel)]="questionTypeName">
                    <mat-select-trigger [ngSwitch]="questionTypeName">
                      <ng-template ngSwitchCase="short_answer">
                        <mat-icon>short_text</mat-icon>
                        <span class="icon-position">Text (line)</span>
                      </ng-template>
                      <ng-template ngSwitchCase="paragraph">
                        <mat-icon>subject</mat-icon>
                        <span class="icon-position">Text (paragraph)</span>
                      </ng-template>
                      <ng-template ngSwitchCase="multi">
                        <mat-icon>radio_button_checked</mat-icon>
                        <span class="icon-position">One of the list</span>
                      </ng-template>
                      <ng-template ngSwitchCase="checkbox">
                        <mat-icon>check_box</mat-icon>
                        <span class="icon-position"> A few from the list</span>
                      </ng-template>
                      <ng-template ngSwitchCase="dropdown">
                        <mat-icon>arrow_drop_down</mat-icon>
                        <span class="icon-position"> Dropdown</span>
                      </ng-template>
                      <ng-template ngSwitchCase="file">
                        <mat-icon>cloud_upload</mat-icon>
                        <span class="icon-position"> Upload File</span>
                      </ng-template>
                      <ng-template ngSwitchCase="date">
                        <mat-icon>date_range</mat-icon>
                        <span class="icon-position"> Date</span>
                      </ng-template>
                    </mat-select-trigger>
                    <mat-option *ngFor="let type of formTypes" [value]="type" [ngSwitch]="type">
                      <ng-template ngSwitchCase="short_answer">
                        <mat-icon>short_text</mat-icon> Text (line)
                      </ng-template>
                      <ng-template ngSwitchCase="paragraph">
                        <mat-icon>subject</mat-icon> Text (paragraph)
                      </ng-template>
                      <ng-template ngSwitchCase="multi">
                        <mat-icon>radio_button_checked</mat-icon> One of the list
                      </ng-template>
                      <ng-template ngSwitchCase="checkbox">
                        <mat-icon>check_box</mat-icon> A few from the list
                      </ng-template>
                      <ng-template ngSwitchCase="dropdown">
                        <mat-icon>arrow_drop_down</mat-icon> Dropdown
                      </ng-template>
                      <ng-template ngSwitchCase="file">
                        <mat-icon>cloud_upload</mat-icon> Upload File
                      </ng-template>
                      <ng-template ngSwitchCase="date">
                        <mat-icon>date_range</mat-icon> Date
                      </ng-template>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>

          </div>

        </div>
        <div class="card-footer text-center">
          <button (click)="copyForm()" mat-icon-button aria-label="Add question">
            <mat-icon>file_copy</mat-icon>
          </button>
          <button (click)="removeForm()" mat-icon-button aria-label="Add question">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
    </form>
  </div>

  <div *ngIf="questionFormService.questionFormIds[this.questionFormService.questionFormIds.length - 1] === questionForm.id"
       class="text-center tools-block">
    <div class="example-button-row">
      <div class="example-flex-container">
        <button (click)="questionFormService.addForm()" mat-icon-button
                title="Add question" aria-label="Add question">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

