.add_option {
  display: block;
  cursor: pointer;
}

.full-width { width: 100% }

.mat-select-panel {
  max-height: 350px!important;
  min-width: calc(100% + 50px)!important;
}

.border-shadow {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
  transition: box-shadow 280ms cubic-bezier(0.4,0.0,0.2,1);
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 45px;
  padding: 10px;
}

.question-type-selector {
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
  }
}

.mat-radio-label-content, .mat-checkbox {

  .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 0;
    }
}

.mat-radio-label-content {
  width: 100%;
  mat-form-field {
    width: 180%;
  }
}

.icon-position {
  margin-left: 20px;
  vertical-align: super;
}
