<div class="row justify-content-center mt-5">
  <div class="col-9">
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab label="Questions">
        <div class="d-flex">

          <div class="card mr-3 text-left question-user-form" [class.active-form]="questionFormService.questionFormIds.length === 0">
            <form [formGroup]="form" class="mat-dialog-content pb-4" novalidate>

              <div class="form">
                <mat-form-field class="example-full-width col-12">
                  <input matInput  #myInput (click)="myInput.select()" formControlName="formName" type="text" class="new_form">
                </mat-form-field>
              </div>

              <div class="form">
                <mat-form-field class="example-full-width col-12">
                  <input matInput placeholder="Description" formControlName="description">
                </mat-form-field>
              </div>

              <div class="email pl-3">
                <h2>E-mail address *</h2>
                <p>Valid Email Address mail</p>
              </div>

              <span class="pl-3">This form collects respondents' email addresses. <a href="#" style="color: #4285f4">Change settings</a></span>

            </form>
          </div>

          <div *ngIf="questionFormService.questionFormIds.length === 0" class="text-center tools-block">
            <div class="example-button-row">
              <div class="example-flex-container">
                <button (click)="questionFormService.addForm()" title="Add question"
                        mat-icon-button aria-label="Add question">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </div>
            </div>
          </div>

        </div>

        <app-questions-form-options class="mt-3"
                                    *ngFor="let question of questionFormService.questionForms"
                                    [questionForm]="question"
                                    (onRemoveQuestionForm)="removeForm($event)"
        ></app-questions-form-options>

      </mat-tab>

      <mat-tab label="Answers">Answers</mat-tab>

    </mat-tab-group>
  </div>
</div>




