/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


p {
  border-bottom: 1px dotted #cccccc;
}

button:focus {
  outline: none;
}


.question-user-form, .question-form {
  width: 88%;
  margin-top: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
  transition: box-shadow 280ms cubic-bezier(0.4,0.0,0.2,1);
  border: 1px solid #cccccc;
  border-radius: 8px;
}


.question-user-form {
  border-top: 10px solid rgb(103, 58, 183);
}

.tools-block {
  width: 45px;
  max-height: 210px;
  margin-top: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
  transition: box-shadow 280ms cubic-bezier(0.4,0.0,0.2,1);
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.active {
  color: yellow;
}

.active-form {
  border-left: 6px solid #4285f4;
}

.form-group {
  margin-bottom: 0;
}

.mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: #000000;
}

